:root {
  --color-white-text: #f5f6f7;
  --color-blue-bg-body: #1b1b32;
  --color-blue-bg-button: #3b3b4f;
  --color-blue-bg-input: #0a0a23;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-white-text);
  background-color: var(--color-blue-bg-body);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

h1,
p {
  margin: 1rem auto;
}

fieldset {
  border: none;
  margin: 1rem 0;
  padding: 2rem 0;
  border-bottom: 3px solid var(--color-blue-bg-button);
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  padding: 0.25rem 1rem;
}

input,
textarea {
  width: 50%;
}

/* label {
    display: block;
    margin: 0.5rem 0;
} */

/* input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2rem;
} */

input,
textarea {
  background-color: var(--color-blue-bg-input);
  border: 1px solid var(--color-blue-bg-input);
  color: white;
}

.inline {
  display: inline;
  width: unset;
  margin: 0 0.5rem 0 0;
  vertical-align: middle;
}

button {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: var(--color-blue-bg-button);
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

a {
  color: #dfdfe2;
}

.form-container {
  width: 60vw;
  max-width: 540px;
  min-width: 360px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.form-control {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

.text-center {
  text-align: center;
}
